.box {
  border-width: 2px;
  border-style: solid;
  padding: 0 20px;
  margin: 0 6px;
  max-width: 400px;
}

.container {
  max-width: 1070px;
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content:"";
  display:block;
  clear:both;
}
