.header {
    composes: clearfix from "shared/styles/layout.css"; 
    background-color: #1e3f63;
    width: 100%;
}

.nav {
    composes: clearfix container from "shared/styles/layout.css";
}

.headerMenu {
    display: inline-block;
    position: relative; 
    height: 59px;
}

.headerMenuLeft {
    composes: headerMenu;
    float: left;
}

.headerMenuRight {
    composes: headerMenu;
    float: right;
}

.headerMenuItem {
    display: block;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.headerMenuItem > a {
    color: #b0c1d3;
    padding: .25em .5em;
    margin-left: .5em;
    margin-right: .5em; 
}

.headerMenuItem > a.active,
.headerMenuItem > a:focus,
.headerMenuItem > a:hover  {
    color: #fff;
    border-bottom: 1px solid #fff;
}


.logoOne {
  display: block;
  background-color: #fff;
  border-radius: 50%;
  float: left;
  width: 35px;
  height: 35px;
  margin: .75em .75em .75em 0;
}